<ng-container *ngIf="currency == null then loader else currencyEditForm"></ng-container>
<ng-template  #loader>
    <div class="flex-container-spinner">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
</ng-template>

<ng-template #currencyEditForm >
    <mat-card>
        <form [formGroup]="form" (ngSubmit)="SubmitData()">
            <mat-form-field class="example-full-width">
              <mat-label>Currency Code</mat-label>
              <input matInput formControlName="CurrencyCode"
                     placeholder="Currency Code" class="">
             
              <mat-error *ngIf="CodeCurrency.invalid && CodeCurrency.touched">
                 <mat-error *ngIf="CodeCurrency.errors.required"> The Currency Code is Required</mat-error>
              </mat-error>
            
            </mat-form-field>
        
        
            <mat-form-field class="example-full-width">
                <mat-label>Currency Name</mat-label>
                <input matInput formControlName="CurrencyName"
                       placeholder="CurrencyName" class="">
               
                <mat-error *ngIf="CurrencyName.invalid && CurrencyName.touched">
                   <mat-error *ngIf="CurrencyName.errors.required"> The Currency Name is Required</mat-error>
                </mat-error>
              
              </mat-form-field>
        
        
        
              <mat-form-field class="example-full-width">
                <mat-label>Currency Symbol</mat-label>
                <input matInput formControlName="CurrencySymbol"
                       placeholder="CurrencySymbol" class="">
               
                <mat-error *ngIf="CurrencySymbol.invalid && CurrencySymbol.touched">
                   <mat-error *ngIf="CurrencySymbol.errors.required"> The Currency Symbol is Required</mat-error>
                </mat-error>
              
              </mat-form-field>
        
        
              <mat-form-field class="example-full-width">
                <mat-label>Exchange Rate</mat-label>
                <input matInput formControlName="ExchangeRate"
                       placeholder="ExchangeRate" class="">
               
                <mat-error *ngIf="ExchangeRate.invalid && ExchangeRate.touched">
                   <mat-error *ngIf="ExchangeRate.errors.required"> The Exchange Rate is Required</mat-error>
                </mat-error>
              
              </mat-form-field>
        
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Value binding</mat-label>
                <input matInput [matDatepicker]="picker3" [formControl]="ValidFrom" [value]="ValidFrom.value">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3  ></mat-datepicker>
              </mat-form-field>
        
              <div>
                <mat-checkbox formControlName="IsDefaultCurrency" >Is Default Currency</mat-checkbox>
              </div>
        
              <div class="button-container">
              <button mat-stroked-button color="primary" [disabled]="formElement.invalid" > Edit</button>
            </div>
        
          </form>
        </mat-card>


</ng-template>