


<mat-card class="card-element">
    <mat-card-header >
      <div 
       class="example-header-image"></div>

      <mat-card-title>
          <h4>
        Human Resources and Payroll
          </h4>
    </mat-card-title>
 
    </mat-card-header>
    <img mat-card-image src="../../../assets/851561183909.png" alt="Photo of a Shiba Inu">
  
 
  </mat-card>
  

  <mat-card class="card-element">
    <mat-card-header >
      <div 
       class="example-header-image"></div>

      <mat-card-title>
          <h4>
        Forwarding
          </h4>
    </mat-card-title>
 
    </mat-card-header>
    <img mat-card-image src="../../../assets/freighter-315201_960_720.jpg" alt="Photo of a Shiba Inu">
  
    
  </mat-card>


 


  <mat-card class="card-element">
    <mat-card-header >
      <div 
       class="example-header-image"></div>

      <mat-card-title>
          <h4>
        Accounting
          </h4>
    </mat-card-title>
 
    </mat-card-header>
    <img mat-card-image src="../../../assets/business-2700757_960_720.jpg" alt="Photo of a Shiba Inu">
 
   
  </mat-card>